<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <%- include('_layouts/head') %>
    <title> Category List | <%= title %></title>
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">

</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">

    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
                <div class="container">
                    <div class="row">
                        <%- include('messages', { messages: messages }) %>
                        <div class="col s12 m6 l6">
                            <h6 class="breadcrumbs-title"><span>Manage Category</span></h6>
                        </div>
                        <div class="col s12 m6 l6 right-align-md" style="margin-top: -10px;">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">Category List
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div id="breadcrumbs-wrapper" style="background-color: white;">
                <!-- Search for small screen-->
                <div class="container">
                    <div class="row">
                        <div class="col s12 right-align-md">
                            <a class="btn pull-right btn-add btn-breadcrumbs white-text" href="/category/create-category">Create Category</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="container">
                    <div class="section section-data-tables">
                        <!-- Page Length Options -->
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col s12 overflow">
                                                <table id="page-length-option" class="display">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr</th>
                                                            <th>Image</th>
                                                            <th>Name (English)</th>
                                                            <th>Name (Arabic)</th>
                                                            <th data-orderable="false">Status</th>
                                                            <th data-orderable="false">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for( let i=0; i < categories.length; i++ ) { %>
                                                        <tr>
                                                            <td><%= i+1 %></td>
                                                            <td><img src="<%= process.env.IMAGE_URL %><%= categories[i].image %>" width="60px"></td>
                                                            <td><%= categories[i].en.name %></td>
                                                            <td><%= categories[i].ar.name %></td>
                                                            <td>
                                                                <% if (categories[i].isActive) { %>
                                                                    <a href="/category/update-status/<%= categories[i]._id %>/0" class="waves-effect border-round waves-light btn green mr-1 mb-2"  onclick="return confirm('Are you sure want to De-Active this category?');">Active</a>
                                                                    <% } else { %>
                                                                    <a href="/category/update-status/<%= categories[i]._id %>/1" class="waves-effect border-round waves-light btn red mr-1 mb-2"  style="padding: 0px 16px 0px 16px;" onclick="return confirm('Are you sure want to Active this category?');">De-Active</a>
                                                                    <% } %>
                                                            </td>
                                                            <td>
                                                                <!-- <a href="/category/update-category/<%= categories[i].id %>" class="waves-effect border-round waves-light btn mr-1 mb-2"><i class="material-icons">create</i></a> -->

                                                                  <a href="/category/update-category/<%= categories[i].id %>" class="btn-floating  waves-effect waves-light accent-2 btn-edit">
                                                                    <i class="material-icons">edit</i>
                                                                </a> &nbsp;&nbsp;

                                                                  <a href="/category/delete-category/<%= categories[i]._id %>" class="btn-floating waves-effect waves-light accent-2 btn-delete">
                                                                    <i class="material-icons" onclick="return confirm('Are you sure want to delete this category?');">delete</i>
                                                                  </a>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <%- include('_layouts/commonJs') %>
    <script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
    <script src="/app-assets/js/scripts/data-tables.js"></script>

</body>

</html>