<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <%- include('_layouts/head') %>
        <title> Product List | <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css"
            href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
</head>
<!-- END: Head-->

<body
    class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns"
    data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">

    <%- include('_layouts/sidenavbar') %>

        <!-- BEGIN: Page Main-->
        <div id="main">
            <div class="row">
                <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
                    <div class="container">
                        <div class="row">
                            <%- include('messages', { messages: messages }) %>
                                <div class="col s12 m6 l6">
                                    <h6 class="breadcrumbs-title"><span>Manage Product</span></h6>
                                </div>
                                <div class="col s12 m6 l6 right-align-md" style="margin-top: -10px;">
                                    <ol class="breadcrumbs mb-0">
                                        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Product List</li>
                                    </ol>
                                </div>
                        </div>
                    </div>
                </div>

                <!-- <div id="breadcrumbs-wrapper" style="background-color: white;">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 right-align-md">
                                <a class="btn pull-right btn-add btn-breadcrumbs white-text"
                                    href="/admin/category/create-category">Create Category</a>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col s12">
                    <div class="container">
                        <div class="section section-data-tables">
                            <!-- Page Length Options -->
                            <div class="row">
                                <div class="col s12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="row">
                                                <div class="col s12 overflow">
                                                    <table id="page-length-option" class="display">
                                                        <thead>
                                                            <tr>
                                                                <th>Sr</th>
                                                                <th>Image</th>
                                                                <th>User Name</th>
                                                                <th>Title</th>
                                                                <th>Category</th>
                                                                <th>Approval</th>
                                                                <th data-orderable="false">Status</th>
                                                                <th data-orderable="false">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for(let i=0; i < categories.length; i++) { %>
                                                                <tr
                                                                    data-href="/admin/category/<%= categories[i].id %>"
                                                                    >
                                                                    <td>
                                                                        <%= i + 1 %>
                                                                    </td>
                                                                    <td>
                                                                            <img src="<%= categories[i].images && categories[i].images.length > 0 ? process.env.IMAGE_URL + categories[i].images[0] : '/images/default.png' %>"
                                                                                style="width: 80px; height: 80px; object-fit: cover; border-radius: 4px;">

                                                                    </td>
                                                                    <td>
                                                                        <%= categories[i].user?.name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= categories[i].title %>
                                                                    </td>
                                                                    <td>
                                                                        <%= categories[i].category[0]?.name %>
                                                                    </td>
                                                                    <td>
                                                                        <% if (categories[i].approvalStatus === 'pending') { %>
                                                                            <form action="/admin/product/approve/<%= categories[i]._id %>" method="POST" style="display: inline-block; margin: 2px;">
                                                                                <button type="submit" class="waves-effect waves-light btn green btn-small" style="padding: 0 10px;" onclick="return confirm('Approve this product?');">
                                                                                    <i class="material-icons" style="font-size: 18px;">check</i>
                                                                                </button>
                                                                            </form>
                                                                            <button type="button" class="waves-effect waves-light btn red btn-small modal-trigger" style="padding: 0 10px;" data-target="rejectModal<%= categories[i]._id %>">
                                                                                <i class="material-icons" style="font-size: 18px;">close</i>
                                                                            </button>
                                                                        <% } else if (categories[i].approvalStatus === 'approved') { %>
                                                                            <span class="waves-effect border-round waves-light btn green mr-1 mb-2">Approved</span>
                                                                        <% } else if (categories[i].approvalStatus === 'rejected') { %>
                                                                            <span class="waves-effect border-round waves-light btn red mr-1 mb-2">Rejected</span>
                                                                        <% } %>
                                                                    </td>
                                                                    <td>
                                                                        <% if (categories[i].isActive) { %>
                                                                            <a href="/admin/product/update-status/<%= categories[i]._id %>/0"
                                                                                class="waves-effect border-round waves-light btn purple mr-1 mb-2"
                                                                                onclick="return confirm('Are you sure want to De-Active this product?');">Active</a>
                                                                            <% } else { %>
                                                                                <a href="/admin/product/update-status/<%= categories[i]._id %>/1"
                                                                                    class="waves-effect border-round waves-light btn orange mr-1 mb-2"
                                                                                    style="padding: 0px 16px 0px 16px;"
                                                                                    onclick="return confirm('Are you sure want to Active this product?');">De-Active</a>
                                                                                <% } %>
                                                                    </td>
                                                                    <td>
                                                                        <!-- <a href="/admin/update-category/<%= categories[i].id %>"
                                                                            class="btn-floating waves-effect waves-light accent-2 btn-edit">
                                                                            <i class="material-icons">edit</i>
                                                                        </a> -->
                                                                        <a href="/admin/product/product_view/<%= categories[i].id %>"
                                                                            class="btn-floating waves-effect waves-light blue">
                                                                            <i class="material-icons">visibility</i>
                                                                        </a>

                                                                        &nbsp;&nbsp;

                                                                        <a href="/admin/product/delete-product/<%= categories[i]._id %>"
                                                                            class="btn-floating waves-effect waves-light accent-2 btn-delete"
                                                                            onclick="return confirm('Are you sure want to delete this product?');">
                                                                            <i class="material-icons">delete</i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="content-overlay"></div>
                </div>
            </div>
        </div>
        <!-- END: Page Main-->

        <!-- Rejection Modals for each product -->
        <% for(let i=0; i < categories.length; i++) { %>
            <% if (categories[i].approvalStatus === 'pending') { %>
                <div id="rejectModal<%= categories[i]._id %>" class="modal">
                    <div class="modal-content">
                        <h5>Reject Product: <%= categories[i].title %></h5>
                        <p>Please provide a reason for rejecting this product:</p>
                        <form action="/admin/product/reject/<%= categories[i]._id %>" method="POST" id="rejectForm<%= categories[i]._id %>">
                            <div class="input-field">
                                <textarea id="reason<%= categories[i]._id %>" name="reason" class="materialize-textarea" required minlength="10"></textarea>
                                <label for="reason<%= categories[i]._id %>">Rejection Reason (min 10 characters)</label>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-light btn grey">Cancel</a>
                                <button type="submit" class="waves-effect waves-light btn red">
                                    <i class="material-icons left">cancel</i>Reject
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            <% } %>
        <% } %>

        <%- include('_layouts/commonJs') %>

            <!-- Only include DataTables once -->
            <script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>

            <!-- Your custom DataTable initialization -->
            <script>
                $(document).ready(function () {
                    // Initialize modals
                    $('.modal').modal();

                    // Prevent multiple initializations
                    if (!$.fn.DataTable.isDataTable('#page-length-option')) {
                        $('#page-length-option').DataTable({
                            responsive: true,
                            pageLength: 10,
                            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                            columnDefs: [
                               { orderable: false, targets: [6, 7] }
                            ]
                        });
                    }

                    // Clickable row navigation
                    $(".clickable-row").click(function () {
                        window.location = $(this).data("href");
                    });

                    // Form validation for rejection
                    $('[id^="rejectForm"]').on('submit', function(e) {
                        const formId = $(this).attr('id');
                        const textareaId = formId.replace('rejectForm', 'reason');
                        const reason = $('#' + textareaId).val().trim();

                        if (reason.length < 10) {
                            e.preventDefault();
                            M.toast({html: 'Rejection reason must be at least 10 characters long', classes: 'red'});
                            return false;
                        }
                    });
                });
            </script>

</body>

</html>