<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <%- include('_layouts/head') %>
    <title>Edit Sub Category | <%= title %></title>
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">
    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><a class="mr-2" href="/category/<%= subcategory.category %>"><i class="material-icons">arrow_back</i></a><span>Edit Sub Category</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/category">Category</a></li>
                                <li class="breadcrumb-item"><a href="/category/<%= subcategory.category %>">Subcategory</a></li>
                                <li class="breadcrumb-item active">Edit</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="container">
                    <div class="section">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <form method="POST" onsubmit="validate()" action="/category/<%= subcategory.category %>/edit/<%= subcategory.id %>" id="form">
                                                <div class="col m6 s12">
                                                    <div class="input-field">
                                                        <input placeholder="Name" id="EnName" name="EnName" type="text" value="<%= subcategory.name %>">
                                                        <label for="EnName">Name</label>
                                                        <small>
                                                            <div id="error1" class="error"></div>
                                                        </small>
                                                    </div>
                                                </div>

                                                <div class="input-field col m6 s12">
                                                    <select id="category" name="category">
                                                        <option value="">Select category</option>
                                                        <% for( let i = 0; i < categories.length; i++ ) { %>
                                                        <option value="<%= categories[i]._id %>" <%= subcategory.category == categories[i].id ? 'selected' : '' %>><%= categories[i].name %></option>
                                                        <% } %>
                                                    </select>
                                                    <label>Select category</label>
                                                    <small>
                                                        <div id="error3" class="error"></div>
                                                    </small>
                                                </div>
                                                <div class="col s12">
                                                    <button type="submit" class="btn purple" id="submitBtn">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <script>
        const formC = document.getElementById('form');

        formC.addEventListener('submit', (e) => {
            e.preventDefault();
        })

        function validate() {
            let returnVal = true;

            const EnNameValue = document.getElementById('EnName').value.trim();
            const categoryValue = document.getElementById('category').value;

            if (EnNameValue == '') {
                document.getElementById('error1').innerText = 'Please enter name.';
                returnVal = false;
            } else {
                document.getElementById('error1').innerText = '';
            }

            if (categoryValue == '') {
                document.getElementById('error3').innerText = 'Please select category.';
                returnVal = false;
            } else {
                document.getElementById('error3').innerText = '';
            }

            if (returnVal) {
                document.getElementById('submitBtn').disabled = true;
                formC.submit();
            }
        }
    </script>
    <%- include('_layouts/commonJs') %>
</body>

</html>